@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
@media (max-width: 376px) {
  .header-overlay-responsive {
    min-height: 80px; /* Увеличиваем высоту для двух строк */
  }
  
  .header-content-responsive {
    flex-direction: column;
    align-items: stretch;
  }
  
  .header-buttons-responsive {
    justify-content: center;
    margin-top: 8px;
  }
}